@charset "utf-8";
/*公共样式*/
html{padding:0px; margin:0px;}
body{margin:0px; padding:0px; background:#fff; font-size:14px; color:#333; font-family:"微软雅黑", "黑体";}
div,form,img,ul,ol,li,dl,dt,dd{margin:0px; padding:0px; border:0px;}
.clear{padding:0px; margin:0px; clear:both;}
h1,h2,h3,h4,h5,h6,form,p,span{margin:0px;padding:0px; font-weight:normal;}
ul{list-style-type:none;}
li{list-style-type:none;}
table,tr,td{word-break:break-all;}
table{border-collapse:collapse; border-spacing:0;}
th, td{vertical-align:middle;}
img{border:0px;}
input{outline:none; font-family:"微软雅黑", "黑体";}
a{color:#fff; text-decoration:none; outline:none; cursor:pointer;}
a:hover{color:#FF0000; text-decoration:none; outline:none;}
em{font-style:normal;}
i{font-style:normal;}
.clear, .clr{clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden;}
.cl{clear:both;}
.l{float:left;}
.r{float:right;}
.mt_05{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.mt_50{margin-top:50px;}
.mr_10{margin-right:10px; _display:inline;}
.mr_20{margin-right:20px; _display:inline;}
.pt_10{padding-top:10px;}
.ml_10{margin-left:10px; _display:inline;}
.ml_20{margin-left:20px; _display:inline;}
.ml_60{margin-left:60px; _display:inline;}
.ml_100{margin-left:100px; _display:inline;}
.pb_10{padding-bottom:10px;}
.pb_20{padding-bottom:20px;}
.pl_10{padding-left:10px;}
.pr_10{padding-right:10px;}
.width_100bfb{width:100%; margin:0px auto;float:left;}
.width_100bfb01{width:100%;}
.width_1140{width:1140px; margin:0px auto;}
.width_1000_01{width:1000px; float:left;}
.pointer{cursor:pointer;}
.inline_ie6{_display:inline;}
.none_01{display:none;}
.dy_dd{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.jzxx{text-align:center;}
.del_x{text-decoration:line-through;}
